* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 50px;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
/* 头部 */
.lt_header {
  width: 100%;
  height: 45px;
  background-color: #b82525;
  position: fixed;
  top: 0;
  text-align: center;
  padding: 15px;
  z-index: 100;
}
.lt_header > span {
  color: #fff;
}
.lt_header > a {
  color: #fff;
  float: right;
}
/* 底部 */
.lt_footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #b82525;
}
.lt_footer > a {
  width: 25%;
  float: left;
  text-align: center;
  color: #fff;
  padding: 6px 0;
}
.lt_footer > a > p {
  color: #fff;
  font-size: 12px;
}
.lt_footer .active {
  background-color: #610505;
}
/* 头部 */
.lt_header a {
  float: left;
}
/* 主体 */
.lt_main {
  padding: 10px;
}
.lt_main .lt_search form {
  border: 1px solid #b82525;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
}
.lt_main .lt_search form .searchTxt {
  width: 85%;
  float: left;
  height: 28px;
  border: none;
  border-radius: 0;
}
.lt_main .lt_search form .searchBtn {
  width: 15%;
  float: left;
  height: 28px;
  border: none;
  background-color: #b82525;
  color: #fff;
  border-radius: 0;
}
.lt_main .lt_history {
  padding-top: 10px;
}
.lt_main .lt_history .history_none {
  font-size: 12px;
  color: #666;
}
.lt_main .lt_history .history_msg {
  color: #666;
  font-size: 12px;
}
.lt_main .lt_history .history_msg .msg_tool > a > span {
  font-size: 14px;
}
.lt_main .lt_history .history_msg ul li {
  border: 1px solid #ccc;
  padding: 2px;
}
.lt_main .lt_history .history_msg ul li .removeItem {
  float: right;
}
